<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SimpleInjector" version="2.5.2" targetFramework="net45" />
  <package id="SimpleInjector.Extensions.LifetimeScoping" version="2.5.2" targetFramework="net45" />
  <package id="Simplify.DI" version="1.0.1.0" targetFramework="net45" />
  <package id="Simplify.DI.Provider.SimpleInjector" version="1.0.1.0" targetFramework="net45" />
  <package id="Simplify.Templates" version="1.0.5.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.86" targetFramework="net45" />
</packages>