$back-color: #efefef;
$back-color-error: #eee4e4;

$primary-color: #4a73bc;
$primary-color-active: #4368ac;
$primary-color-opposite: white;

$primary-color-text-hover: #3464bc;

$primary-color-colorized-text: #0d85c9;

$primary-border: 1px solid #bcbcbc;

$no-box-shadow: 0 0;
$button-border: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #9d9d9d;