div.MessageBox {
  padding: 4em;
  font-size: 1.4em;
  text-align: center; }

div.inline-message-box, div.inline-error-message-box {
  padding: 0.5em; }

div.inline-error-message-box {
  color: #FF4753; }

