@import 'Variables';

.navbar
{
	background: $primary-color;
	color: $primary-color-opposite;
	border: 0;
	border-radius: 0;
	box-shadow: $no-box-shadow;

	a, .navbar-text
	{
		color: $primary-color-opposite !important;
	}

	a:hover, .navbar-toggle:hover, .navbar:focus
	{
		background-color: $primary-color-active !important;
	}

	.navbar-toggle
	{
		background-color: $primary-color !important;
	}

	.icon-bar
	{
		background-color: $primary-color-opposite !important;
	}
}
