<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AcspNetSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<AcspNetSettings>
		<add key="IndexPage" value="Index.aspx" />
		<add key="DefaultLanguage" value="en" />
		<add key="DefaultStyle" value="Main" />
		<add key="DefaultTemplatesPath" value="Templates" />
		<add key="DefaultMasterTemplateFileName" value="Index.tpl" />
		<add key="TemplatesMemoryCache" value="false" />
		<add key="DefaultExtensionDataPath" value="ExtensionsData" />
		<add key="DisableAcspInternalExtensions" value="false" />
		<add key="DefaultMainContentVariableName" value="MainContent" />
		<add key="DefaultTitleVariableName" value="Title" />
		<add key="DisableAutomaticSiteTitleSet" value="false" />
	</AcspNetSettings>
</configuration>
