<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AcspNetSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<AcspNetSettings>
		<add key="DefaultTemplatesDir" value="Templates" />
		<add key="DefaultStyle" value="Main" />
		<add key="DefaultLanguage" value="en" />
		<add key="ExtensionDataDir" value="ExtensionsData" />
		<add key="IndexPage" value="Index.aspx" />
		<add key="MasterTemplateFileName" value="Index.tpl" />
		<add key="MainContentVariableName" value="MainContent" />
		<add key="TitleVariableName" value="Title" />
		<add key="TemplatesMemoryCache" value="false" />
	</AcspNetSettings>
</configuration>
