@import 'Variables';

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	border-color: #bcbcbc;
	border-radius: 0;
}

input[placeholder], input[placeholder][type="password"]
{
	color: $primary-color !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
	border-color: $primary-color;
	box-shadow: $no-box-shadow;
}

button.btn
{
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-color: $button-border;
}

button.btn:hover
{
	border-color: $button-border;
	transition: background-position 0.2s linear 0s;
	color: $primary-color-hover-text;
}

// Checkbox vertical align fix
input[type="checkbox"]
{
	vertical-align: middle;
	position: relative;
	bottom: 4px;
}

label
{
	font-weight: normal !important;
}
