div.Header
{
	div.Title
	{
		padding: 1em;
		background-color: #c4c4c4;
		font-size: 2em;
	}

	div.Menu
	{
		background: #969696;
		color: #fff;
		line-height: 1em;
		width: 100%;
		float: left;
		overflow: auto;

		div.Left
		{
			float: left;
			padding: 0.5em;
		}

		div.Right
		{
			float: right;
			padding: 0.5em;
		}

		a
		{
			color: white;
			margin: 0 0.25em 0 0.25em;
			text-decoration: none;
		}

			a:hover
			{
				color: lightblue;
			}
	}
}
