body {
  background: #e0e0e0 !important;
  color: #505050 !important;
  font: 1.6em 'Segoe UI', tahoma, arial, helvetica, sans-serif !important;
  margin: 1em !important;
  padding: 0 !important; }

div.Header div.Title {
  padding: 1em;
  background-color: #c4c4c4;
  font-size: 2em; }
div.Header div.Menu {
  background: #969696;
  color: #fff;
  line-height: 1em;
  width: 100%;
  float: left;
  overflow: auto; }
  div.Header div.Menu div.Left {
    float: left;
    padding: 0.5em; }
  div.Header div.Menu div.Right {
    float: right;
    padding: 0.5em; }
  div.Header div.Menu a {
    color: white;
    margin: 0 0.25em 0 0.25em;
    text-decoration: none; }
  div.Header div.Menu a:hover {
    color: lightblue; }
div.Header img.Logo {
  vertical-align: middle;
  width: 2.5em;
  margin-right: 0.8em; }

div.MessageBox {
  padding: 5em;
  font-size: 1.2em;
  text-align: center; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-color: #969696; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #0d85c9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(67, 110, 188, 0);
  outline: 0 none; }

div.Content {
  width: 100%;
  overflow: auto;
  min-height: 15em; }

.ExecutionTimeFooter {
  border-top: 1px solid #969696;
  text-align: center;
  margin-top: 1em;
  padding-top: 0.3em; }

