body
{
	background: #e0e0e0;
	color: #505050;
	font: 1em 'Segoe UI', tahoma, arial, helvetica, sans-serif;
	margin: 1em;
	padding: 0;
}

div.Header
{
}

div.Title
{
	padding: 1em;
	background-color: #c4c4c4;
	font-size: 2em;
}

div.Menu
{
	background-color: #f4f4f4;
	/*background: #969696;
	color: #fff;
	font-size: 1.3em;
	line-height: 1em;
	width: 100%;
	float: left;

	overflow: auto;*/
}


div.Menu p.Left
{	
	float: left;
}

div.Menu p.Right
{
	float: right;
}