body
{
	background: #fff;
	color: #505050;
	font: 1em 'Segoe UI', tahoma, arial, helvetica, sans-serif;
	margin: 1em;
	padding: 0;
}

#header
{
	background: #efefef;
}

h1
{
	font-size: 4em;
	font-weight: normal;
	margin: 0;
	padding: 0 0.8em;
	line-height: 2.5em;
}

h2
{
	font-size: 1em;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid silver;
	padding-bottom: 0.9em;
	margin-bottom: 0.6em;
}

div.menu
{
	background: #969696;
	color: #fff;
	font-size: 1.3em;
	line-height: 1em;
	width: 100%;
	float: left;

	overflow: auto;
}

div.menu p.left, div.menu p.right
{
	padding: 0 0.5em;
}

div.menu p.left
{	
	float: left;
}

div.menu p.right
{
	float: right;
}

.main
{
	width: 100%;
	overflow: auto;
}

.section
{
	width: 21.7%;
	float: left;
	margin: 1em 0 0 4%;
}

.GenerationTimeFooter
{
	text-align: center;
	margin-top: 1em;
}

div.menu p.right a
{
	color: white;
	margin: 0 1em 0 0;
}

div.menu p.right a:hover
{
	color: lightblue;
}

div.footer
{
	background: #969696;
	color: #fff;
	font-size: 1.3em;
	line-height: 1em;
	padding: 0.7em 0.5em;
	margin-top: 1em;
}

div.MessageBox
{
	padding: 5em;
	font-size: 1.2em;
	text-align: center;
}