.navbar
{
	background: #4a73bc;
	color: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0);

	a, .navbar-text
	{
		color: white !important;
	}

	a:hover
	{
		background-color: #4368ac !important;
	}
}
