<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<system.webServer>
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>