<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>

		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="~/404"/>
		</customErrors>
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="Templates" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>

