<?xml version="1.0"?>
<configuration>
  <!--<configSections>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>-->
  <system.webServer>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>