<?xml version="1.0"?>
<configuration>
	<!--<system.webServer>
		<directoryBrowse enabled="false"/>
	</system.webServer>

	<appSettings>
		<add key="owin:AutomaticAppStartup" value="true"/>
	</appSettings>-->

	<system.web>
		<compilation debug="true" targetFramework="4.5.1"/>
		<!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
	</system.web>
</configuration>